body{
    margin: 0;
    padding: 0;
}
body:before{
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url('https://i.imgur.com/NVHRYi2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}